
  <div class="container">
    <div id="header">
      <h1 class='text_center'>NPR News Scraper</h1>
        <button><a href="/" id="scrape">Scan NPR for New Articles</a></button>
          <button><a href="/saved" id="savedNotesPage">View Saved Articles</a></button>
          <button><a href="/notes" id="allNotes">All Notes</a></button>
          </div>
        <div id="articles"></div>
      <div id="news_background"></div>
    <div id="notes"></div>
  </div>
 